<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Manager</title>
</head>
<body>
<div align="center">
    <h1>Product Manager</h1>
    <a href="new">Create New Product</a><br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>Product ID</th>
            <th>Name</th>
            <th>Brand</th>
            <th>Made In</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${listProducts}">
            <td th:text="${product.getId()}">Product ID</td>
            <td th:text="${product.getName()}">Name</td>
            <td th:text="${product.getBrand()}">Brand</td>
            <td th:text="${product.getMadein()}">Made In</td>
            <td th:text="${product.getPrice()}">Price</td>
            <td>
                <a th:href="@{'/edit/' + ${product.getId()}}">Edit</a>
                &nbsp;&nbsp;&nbsp;
                <a th:href="@{'/delete/' + ${product.getId()}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>